<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <style>
      body {
        text-align: center;
      }
      li {
        font-size: 25px;
        list-style: none;
        padding: 10px;
      }
    </style>
    <h1>This is <%= pokemon.name %></h1>
    <img src="<%= pokemon.img%>" alt="" />
    <h2>Pokemon Type:</h2>
    <ul>
      <% for(let i = 0; i < pokemon.type.length; i++) { %>
      <li><%= pokemon.type[i] %></li>
      <% } %>
    </ul>
    <h2>Stats:</h2>
    <ul>
      <li>Health: <%= pokemon.stats.hp %></li>
      <li>Attack: <%= pokemon.stats.attack %></li>
      <li>Defense: <%= pokemon.stats.defense %></li>
      <li>SP Attack: <%= pokemon.stats.spattack %></li>
      <li>SP Defense: <%= pokemon.stats.spdefense %></li>
      <li>Speed: <%= pokemon.stats.speed %></li>
    </ul>
    <a href="/pokemon">Go back to index</a>
  </body>
</html>
