<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css"
    />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <h1>Budgtr ALL</h1>
      <h4>Bank Account</h2>

      <% let bankAccount = 0 %>
      <% let amount = [] %>
      <% const account = (budget) => { %>

        <% for(let i = 0; i < budget.length; i++) { %>
         <% amount.push(budget[i].amount) %>
         
          <% console.log(amount)%>
        <% } %>
     <% } %>

    <% const sumOfAmounts = ( arr , sum) => { %>
      <%  sum = sum || 0; %>
      <%  if (arr.length === 0){ %>
        <% return sum; %>
        <% } %>
        <% sum += arr.shift(); %>
        <% return sumOfAmounts( arr , sum ); %>
        <% } %>

     
          <h5><%= bankAccount %></h5>
          <% account(budget) %>
          <% sumOfAmounts(amount) %>
      <table>
        <% for (let i = 0; i < budget.length; i++) { %>
        <tr>
          <td>
            <%= budget[i].date %>
          </td>
          <td>
            <a href="/budget/<%=i%>"><%= budget[i].name %></a>
          </td>
          <td>
            <%= budget[i].amount %> <% } %>
          </td>
        </tr>
      </table>

      <a class="button" href="/budget/new">Create New Item</a>
    </div>
    
  </body>
</html>
