<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css"
    />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <h1>Budgtr ALL</h1>
      <h4>Bank Account</h2>

      <% let bankAccount = 0 %>

      <input type="text" placeholder="<%= bankAccount %>" />
      <table>
        <% for (let i = 0; i < budget.length; i++) { %>
        <tr>
          <td>
            <%= budget[i].date %>
          </td>
          <td>
            <a href="/budget/<%=i%>"><%= budget[i].name %></a>
          </td>
          <td>
            <%= budget[i].amount %> <% } %>
          </td>
        </tr>
      </table>

      <a class="button" href="/budget/new">Create New Item</a>
    </div>
  </body>
</html>
